<body>
  <h2 class="mb-3">Eventos</h2>
  <div class="row">
    <div class="col-3">
    <div class="input-group">
      <input type="text" class="form-control" placeholder="Buscar" aria-label="Input group example" aria-describedby="btnGroupAddon2">
      <button class="btn btn-dark" id="btnGroupAddon2">Buscar</button>
    </div>
  </div>
  </div>
 
  <div class="card mt-4 shadow-lg p-3 mb-5 bg-body rounded">
    <div class="card-body">
  <table class="table table-striped">
    <thead>
      <tr class="">
        <th scope="col">Imagem</th>
        <th scope="col">Tema</th>
        <th scope="col">Local</th>
        <th scope="col">Data</th>
        <th scope="col">Lote</th>
        <th scope="col">Quantidade De Pessoas</th>
        <th scope="col">Ações</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let evento of eventos?.result">
        <th scope="row">{{evento.id}}</th>
        <th scope="row">{{evento.temaEvento}}</th>
        <td>{{evento.cidadeEvento}}</td>
        <td>{{evento.dataHoraEvento}}</td>
        <td>{{evento.loteEvento}}</td>
        <td>{{evento.quantidadePessoas}}</td>
        <td>a</td>

      </tr>
    </tbody>
  </table>
</div>
</div>
</body>